{% extends 'tasks/bootstrap.html' %}

{% load bootstrap4 %}
{% load i18n %}
<title>{% block bootstrap4_title %}{% block title %}{% translate "Менеджер задач" %}{% endblock %}{% endblock %}</title>

{% block bootstrap4_content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
      <a class="navbar-brand" href="/">{% translate "Менеджер задач" %}</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{% translate "Пользователи" %}</a>
          </li>
        </ul>
        
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">{% translate "Вход" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{% translate "Регистрация" %}</a>
            </li>
        </ul>
        
      </div>
    </nav>
{% endblock %}